/* Global style*/
body {
    font-family: 'Merriweather', serif;
    text-align: center;
    color: rgb(18, 4, 110);
    background-color: rgb(233, 248, 233);
}

/* Headings*/
.heading {
    text-decoration: underline;
    font-size: 2rem;
    color: orangered;
}
.sub-heading {
    color: orangered;
    margin: 1px;
}

/* Rules section*/
.rules {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.rules p {
    line-height: 1rem;
}


/* Game layout*/
.game-area {
    box-sizing: border-box;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}


/* Result area*/
.result-area {
    padding: 3%;
    box-sizing: border-box;
    width: 75%;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    line-height: 20px;
}

.result-area p {
    margin: 7px;
}

#result {
    color: orangered;
}


/* Footer and score section*/
.footer {
    position: absolute;
    width: 100%;
    min-height: 80px;
    background-color: white;
}

.scores1 {
    float: left;
    width: 45%;
}

#player-score {
    color: orangered;
}

.scores2 {
    float: right;
    width: 45%;
}

#computer-score {
    color: orangered;
}


/* Buttons style and hoover changes*/
.btn {
    width: 220px;
    height: 60px;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.btn:focus {
    outline: none;
}

.btn--big {
    padding-top: 10px;
    border-radius: 50%;
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 0 30px;
    transition: all 0.5s;
}

.btn--red {
    border-color: red;
    color: red;
}

.btn--red:active,
.btn--red:hover {
    background-color: darkred;
    color: white;
}

.btn--yellow {
    border-color: yellow;
    color: yellow;
}

.btn--yellow:active,
.btn--yellow:hover {
    background-color: darkorange;
    color: white;
}

.btn--green {
    border-color: green;
    color: green;
}

.btn--green:active,
.btn--green:hover {
    background-color: darkgreen;
    color: white;
}


/* Media Queries*/
@media (min-width: 320px) and (max-width: 480px) {
  
    .image-hands {  
        width: 75%;
    }

    .game-area {
        width: 100%;
    } 

    .controls-area {
        width: 100%;
    }

    .btn {
        width: 27%;
    }
  }